//////////////////////////////

// COLORS

//////////////////////////////

$color-primary: black;
$color-onprimary: white;
$color-secondary: #E9E9E9;
$color-onsecondary: white;
$color-background: #dadada;

//////////////////////////////

// FONT FAMILIES

//////////////////////////////

$header-font-family: "Raleway", sans-serif;
$accent-font-family: "Knewave", system-ui;
$body-text-font-family: "Lato", sans-serif;

//////////////////////////////

// BREAK POINTS

//////////////////////////////

$break-point-phone: 240px;
$break-point-tablet: 767px;
$break-point-desktop: 1279px;